body {
    background-image: url("party.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height:100vh; /* use 100% of the height of the viewport */
    display:grid;             
    place-items: center;
    
}

.container {
    max-width: 300px;
    margin: 0 auto;
    border: 2px solid #F7B700;
    background-color: #FFF3CB;
       
}     

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 0.5em;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    /* border: none; */
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-color: #F7B700;
    border-radius: 30%;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: darkgreen;
}
#count-btn {
    background: plum;
}
#reset-btn {
    background: gray;
}

